<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Guily'">Guily</title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Main Content -->
<main layout:fragment="content"></main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>