<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}"/>
    <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : ''}"/>

    <title th:text="${title} ?: 'Guily'">Guily</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <th:block layout:fragment="css"></th:block>
</head>

<body>

<!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Main Content -->
    <main layout:fragment="content"></main>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/common.js}"></script>

    <th:block layout:fragment="script"></th:block>
</body>
</html>